# ==========================================
# PostgreSQL
# ==========================================
POSTGRES_DB=portfolio
POSTGRES_USER=portfolio
POSTGRES_PASSWORD=portfolio

# ==========================================
# Spring Boot
# ==========================================
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/portfolio
SPRING_DATASOURCE_USERNAME=portfolio
SPRING_DATASOURCE_PASSWORD=portfolio